

body{
    background-color: black;
}

.topnav{
    background-color: black;
}

.topnav a{
  margin-bottom: 20px;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 56px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #050605;
  color: white;
}

main{
background-color: black;
border-style:solid;
border-color: rgb(171, 216, 255);
border-width: 2px 2px 2px 2px;
margin-top: 10px;
}

.h1{
    text-align: center;
     color: aliceblue;
     font-size: 1.4rem;
     text-decoration: none;
     margin-top: 30px;
}

.h2{
    text-align: center;
    color: aliceblue;
     font-size: 5rem;
     margin-top: 300px;
     margin-bottom: 300px;
     text-decoration: none;

}

.content {
    margin-top: 8rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.6rem;
    
  }

  @media only screen and (min-width: 800px) {
    .content {
      grid-template-columns: repeat(5, 1fr);
    }

    .topnav a{
      margin-bottom: 20px;
      color: #f2f2f2;
      text-align: center;
      padding: 4px 206px;
      text-decoration: none;
      font-size: 17px;
    }
  }

  .part {
    
    border: 2px solid #ffffff;
    color: #ffffff;
    text-align: center;
    transition:  all 0.4s;
    background-color: rgb(4, 4, 4);
    width: 200px;
    padding: 8px;
    border: 1px solid rgb(253, 253, 255);
  }
  
  .content:hover {
    margin-top: -0.3rem;
  }