

body{
    background-color: black;
}

.topnav{
    background-color: black;
    align-items: center;
    justify-items: center;
    color:rgb(254, 254, 254);
    font-family: 'Courier New', Courier, monospace;
}

.main{
background-color: black;
border-style:solid;
border-color: aliceblue;
border-width: 2px 1px 2px 2px;
}
h1{
    text-align: center;
     color: aliceblue;
     font-size: 1.4rem;
     text-decoration: none;
     margin-top: 30px;
}

h2{
    text-align: center;
    color: aliceblue;
     font-size: 5rem;
     margin-top: 300px;
     text-decoration: none;

}

.content {
    margin-top: 8rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    
  }

  @media only screen and (min-width: 800px) {
    .content {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  .part {
    font-family: "playful", cursive;
    border: 2px solid #ffffff;
    color: #ffffff;
    text-align: center;
    transition:  all 0.4s;
    background-color: rgb(4, 4, 4);
    width: 200px;
    padding: 1px;
    border: 2px solid rgb(253, 253, 255);
  }
  
  .content:hover {
    margin-top: -1rem;
  }